/Grass Cutting Simulator/[Ll]ibrary/
   /Grass Cutting Simulator/[Tt]emp/
   /Grass Cutting Simulator/[Oo]bj/
   /Grass Cutting Simulator/[Ll]ogs/
   /Grass Cutting Simulator/[Uu]ser[Ss]ettings/
   /Grass Cutting Simulator/[Bb]uild/
   /Grass Cutting Simulator/[Bb]uilds/
